/* Overview */

/* Related Items and Comparison */
.list-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.relatedProductList {
  display: flex;
  flex-wrap: nowrap;
  width: 1000px;
  height: 350px;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.productCard-container {
  margin: 30px;
}

.productCard {
  display: grid;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  width: 100%;
  height: 100%;
  border: 1px solid white;
}

.leftArrow {
  position: relative;
  top: 50%;
  visibility: hidden;
  opacity: .5;
  /* cursor: pointer; */
  z-index: 1;
  right: -1.25rem;
  /* transform: translateY(-50%); */
  width: auto;
  color: black;
  height: 30px;
}

.rightArrow {
  position: relative;
  top: 50%;
  visibility: hidden;
  opacity: .5;
  /* cursor: pointer; */
  z-index: 1;
  left: -1.25rem;
  /* transform: translateY(-50%); */
  width: auto;
  color: black;
  height: 30px;
}

.rightArrow:hover {
  visibility: visible;
}

.leftArrow:hover {
  visibility: visible;
}

.preview-image {
  display: block;
}

.productInfo {
  display: block;
}

.comparison-modal-content {
  position: fixed;
  z-index: 11;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 350px;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  max-height:85%;
  margin-top: 50px;
  margin-bottom:50px;
  animation: modalFadeIn 0.5s;
  background-color: #fefefe;
  border: 1px solid #fefefe;
}

.comparison-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fefefe;
  opacity: 0.5;
  animation: overlayFadeIn 0.5s;
}

.productName-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.features-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.current-product {
  text-align: left;
}

.related-product {
  text-align: right;
}

.characteristic {
  text-align: center;
}

.sale-price {
  color: red;
}

.original-price {
  color: gray;
}

.actionBtn {
  border: white;
  float: right;
  background: transparent;
  padding: .5rem;
  border-radius: 64px;
  border-bottom: none;
}

.actionBtn:hover {
  color: red;
}

/* Questions and Answers */
.qaContainer {
  width: 90%;
  margin: auto;
  max-height: 800px;
  border: solid black thin;
}
.qaHeader {
  width: 90%;
  text-align: left;
  margin: 2%;
}
.searchBar {
  width: 96%;
  height: 50px;
  margin: auto;
  margin-left: 2%;
}
.searchText {
  margin-left: 2%
}
.UserInput {
  border: solid black thin;
  text-align: center;
  font-size: small;
  margin: 2%;
  display: inline-block;
  padding: 2%;
}
.showDefault-questions {
  position: relative;
  max-height: 500px;
  margin: 2%;
  border: solid black thin;

}
.showDefault-answers {
  min-height: 50px;
  margin: 2%;
}
.showDefault-questions div:nth-child(5n) {
  display: none;
}
.showDefault-answers div:nth-child(2n) {
  display: none;
}
.showAll-questions {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  max-height: 400px;
  margin: 2%;
  border: solid black thin;
}
.showAll-answers {
  position: relative;
  overflow-y: scroll;
  overflow-x: hide;
  max-height: 400px;
  margin: 2%;
}
.view-question {
  margin: 2%;
}
.view-answers {
  margin: 2%;
}
.questionText {
  font-size: medium;
  font-weight: bolder;
  word-break: normal;
  width: 68%;
  text-align: left;
  display: inline-block;
}
.answerText {
  font-size: small;
  word-break: normal;
  width: 100%;
  text-align: left;
  display: inline;
  margin: -1%;
}
.questionFeedback {
  text-align: right;
  font-size: xx-small;
  display: inline-block;
  width: 32%;
}
.answersFeedback {
  font-size: xx-small;
  width: 100%;
  text-align: left;
  display: block;
  margin: 0%;
  padding: 2%;
}
.answersFeedback-left {
  display: inline-block;
}
.answersFeedback-right {
  display: inline-block;
}
.loadAnswers {
  font-size: x-small;
  margin: 2%;
  font-weight: bolder;
}
.qa-modal-view {
  position: fixed;
  z-index: 1;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  overflow: auto;
  background-color: white;
}
.qa-modal-box {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  text-align: center;
}
/* Ratings and Reviews */
.ratings-and-reviews-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ratings-container {
  width: 25%;
  border: 1px solid gray;
}

.average-rating {
  font-size: xx-large;
}

.filter-container {
  display: flex;
  flex-direction: column;
}

.filter {
  display: flex;
}

.filtered {
 color: green;
}

.filter:hover {
  background-color: gray;
  cursor: pointer;
}

.filter-message {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 200ms;
}

.filter-message-text {
  text-align: center;
}

.reset-filters {
  width: 50%;
  margin: auto;
}

.invisible {
  opacity: 0;
}

.review-total {
  transform: translateX(10px);
}

.characteristic-label {
  transform: translateY(-5px);
}

.breakdown-descriptions {
  display: flex;
  justify-content: space-between;
  transform: translateY(5px);
}

.reviews-container {
  width: 50%;
  border: 1px solid gray;
}

.reviews-list {
  display: flex;
  flex-direction: column;
}

.maximized {
  height: 90vh;
  overflow: scroll;
}

.review {
  position: relative;
  width: 100%;
  border-bottom: 1px solid gray;
}

.name-and-date {
  float: right;
}

.photo-container {
  display: inline;
}

.photo {
  display: inline;
  width: 100%;
  height: 100%;
  max-width: 20%;
  max-height: 50px;
  object-fit: scale-down;
}

.review-modal {
  display: flex;
  position: fixed;
  z-index: 11;
  top: 50%;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  max-height: 50%;
  transform: translate(-50%, -50%);
  animation: modalFadeIn 0.5s;
}

.remove-button {
  top: 80%;
  transform: translateX(-50%);
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  animation: overlayFadeIn 0.5s;
}

@keyframes overlayFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

.vote {
  color: blue;
}

.yes {
  color: green;
}

.no, .reported {
  color: red;
}

.submit-form{
  width: 80vw;
  height: 80vh;
  max-width: 80vw;
  max-height: 80vh;
  background-color: white;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

.submit-form h1 {
  margin-bottom: 0;
  text-align: center;
}

.submit-form h3 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.submit-form h4 {
  margin-top: 0;
  text-align: center;
}

.submission-components {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left {
  width: 50%;
  margin-left: 5%;
}

.right {
  width: 50%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 20%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}

.flex-column, .flex-row input {
  width: 20%
}

.dynamic-description {
  color: green;
}

.summary {
  width: 90%;
}

.review-body {
  width: 90%;
  height: 20%;
}

.user-details, .user-detail, .submit-details {
  display: flex;
  flex-direction: column;
}

.submit-details {
  margin: auto;
}

.final-submission-details {
  display: flex;
  flex-direction: row;
}

.user-details {
  width: 50%;
}

.small-font {
  font-size: x-small;
}

.submit-review {
  margin: auto;
  width: 100px;
  height: 50px;
}

.no-error-message {
  color: red;
  opacity: 0;
}

.error-message {
  color: red;
  opacity: 1;
  transition: opacity 200ms;
}

.error {
  color: red;
  transition: color 200ms;
}

.no-success-message {
  margin-bottom: 0;
  color: green;
  opacity: 0;
}

.success-message {
  margin-bottom: 0;
  color: green;
  opacity: 1;
  transition: opacity 200ms;
}