/* Overview */

/* Related Items and Comparison */

/* Questions and Answers */
.questionsList div:nth-child(5n) {
  display: none;
}
.answersList div:nth-child(2n) {
  display: none;
}
/* Ratings and Reviews */
.reviews-list {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.maximized {
  height: 100vh;
  overflow: scroll;
}

.review {
  position: relative;
  width: 50%;
  border-bottom: 1px solid gray;
}

.name-and-date {
  float: right;
}

.photo-container {
  display: inline;
}

.photo {
  display: inline;
  width: 100%;
  height: 100%;
  max-width: 20%;
  max-height: 50px;
  object-fit: scale-down;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 11;
  top: 50vh;
  left: 50vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 50vw;
  max-height: 50vh;
  transform: translate(-50%, -50%);
  animation: modalFadeIn 0.5s;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  animation: overlayFadeIn 0.5s;
}

@keyframes overlayFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

.vote {
  color: blue;
}

.yes {
  color: green;
}

.no, .reported {
  color: red;
}

.submit-form{
  width: 75vw;
  height: 75vh;
  max-width: 75vw;
  max-height: 75vh;
  background-color: white;
  flex-direction: column;
  overflow: scroll;
}

.submit-form h1 {
  margin-bottom: 0;
  text-align: center;
}

.submit-form h3 {
  margin-top: 0;
  text-align: center;
}

.submission-components {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 20%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}

.flex-column, .flex-row input {
  width: 20%
}

.dynamic-description {
  color: green;
}

.summary {
  width: 90%;
}